.idea
__pycache__/
.DS_Store
settings.json

logs/
secrets

.gitignore
*.log
*.yaml
*.yml
*.pem
jwt-private.pem
jwt-public.pem
bucket-credentials.json

venv
.venv
tempo.py
my_actions.txt
tasks.py
rows_count.py
commands.txt
images/

foo.py
bar.py
