.idea
__pycache__/
.DS_Store
settings.json

logs/
secrets
secret
.env
openai.env

.gitignore
*.log
*.yaml
*.yml
*.pem
jwt-private.pem
jwt-public.pem
bucket-credentials.json


venv
.venv
images/
tempo.py
my_actions.txt
tasks.py
rows_count.py
commands.txt
uploaded_images.json
data.json
Dockerfile
requirements.txt

foo.py
bar.py
