# IDE and environment-related files
.idea
__pycache__/
.DS_Store
venv
.venv

# Configuration and secrets
settings.json
.env
openai.env
secrets
secret
bucket-credentials.json
jwt-private.pem
jwt-public.pem

# Logs and temporary files
logs/
*.log
tempo.py
uploaded_images.json
images/
rows_count.py
tasks.py
my_actions.txt
commands.txt
data.json

# Docker and dependencies
Dockerfile
requirements.txt

# YAML files
*.yaml
*.yml

# Python
image_uploader.py
foo.py
bar.py
data/
